<div class="ruler">
    <div class="ruler__container">
        <svg class="ico z-truck">
            <use xlink:href="#z-truck"></use>
        </svg>
        <span>Frete Grátis nas compras acima de R$ 199</span>
    </div>
</div>

<div class="ruler">
    <div class="ruler__container">
        <svg class="ico z-card">
            <use xlink:href="#z-card"></use>
        </svg>
        <span>Parcelamos em até 3x sem juros</span>
    </div>
</div>

<div class="ruler">
    <div class="ruler__container">
        <svg class="ico z-star">
            <use xlink:href="#z-star"></use>
        </svg>
        <span>Retire na Loja</span>
    </div>
</div>

<div class="ruler">
    <div class="ruler__container">
        <svg class="ico z-lock">
            <use xlink:href="#z-lock"></use>
        </svg>
        <span>Compra 100% Segura</span>
    </div>
</div>