<dl class="tabs">
	<dt class="tabs__tab tabs__tab--description"><span>Descrição do Produto</span></dt>
	<dd class="tabs__content tabs__content--description">
        <div class="tabs__descriptions">
            <div class="tabs__figure">
                <img src="https://fakeimg.pl/500/" />
            </div>
            <div class="tabs__description">
        		<div class="std">@descricao</div>        
            </div>
        </div>
        
	</dd>
    <dt class="tabs__tab tabs__tab--attr"><span>Detalhes Técnicos</span></dt>
    <dd class="tabs__content tabs__content--attr">
        <div class="tabs__attrs">
            <div class="tabs__figure">
                <img src="https://fakeimg.pl/500/" />
            </div>
            <div class="tabs__table">
	            @atributos     
            </div>            
        </div>	
    </dd>
</dl>



<div class="carrossel">@vendas-acima</div>
@compre-junto
<div class="carrossel">@relacionados</div>