color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #FFC701
color1_bg_hover = #FFC701
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #555557
color2_bg_hover = #555557
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #68D940
button_bg_hover = #4D4D4F
