.header
    flex: 1
    padding: 25px 0
    min-width: 0

    @media media-max-lg
        margin-bottom: 0 !important

    &-container
        position: sticky
        top: 0
        max-width: 100%
        width: auto

        @media media-min-lg
            margin-top: -(gap / 2)

        @media media-max-lg
            padding: 0 10px
            background: white