.logo
    .header &
        margin-right: 10px

        @media media-min-sm
            margin-right: auto

        img, svg
            min-width: 0
            max-width: 32vw
            max-height: none
            height: 47px

        img
            object-fit: contain