.mymenu
    .top-header &
        flex: 1
        min-width: 0

        .li--0:not(:last-child)
            margin-bottom: 0

        .quem-somos
            margin-right: auto

        .a--0
            display: flex
            justify-content: center
            align-items: center
            height: 38px
            font-weight: bold
            font-size: 15px

        .a--1
            display: block
            padding: 10px (gap / 2)
            color: var(--secundary)
            transition: all 100ms ease-out
            fong-size: 14px

            &:hover
                box-shadow: inset 5px 0 0 var(--secundary)

        .ul--0
            display: flex
            justify-content: space-between
            align-items: center
            gap: 15px

        .ul--1
            padding: 15px 0

        .ico-phone
            > a
                .ico
                    width: 20px
                    height: 25px

                span
                    color: var(--primary-contrast)

                    &:before
                        padding: 0 5px
                        color: var(--primary)
                        content: 'Fale conosco: '

        .email
            > a
                color: var(--primary-contrast)

        .parent
            &:hover
                > ul
                    visibility: visible
                    opacity: 1

            > ul
                position: absolute
                visibility: hidden
                width: 200px
                background: var(--secundary-contrast)
                box-shadow: 0 0 10px rgba(0, 0, 0, .1)
                opacity: 0

            > a
                > span, > .ico
                    display: inline-block
                    vertical-align: middle

                > span
                    + svg
                        margin-left: 5px

                > .ico
                    color: var(--secundary-contrast)

                > .z-down
                    width: 9px
                    height: 9px

                > .z-map
                    margin-top: -2px
                    width: 12px
                    height: 17px

                    + span
                        margin-left: 5px
