.newsletter
    padding: 40px 0

    &__text
        @media media-max-lg
            flex: 0 0 100%

        @media media-min-lg
            padding-right: 10px

        .title
            color: white
            font-weight: regular
            font-size: 14px

            @media media-max-lg
                text-align: center

            strong
                display: block
                padding: 0 0 5px
                color: var(--primary)
                text-transform: uppercase
                font-weight: bold
                font-size: 24px
                line-height: 1

    &__form
        display: flex
        flex-flow: row wrap
        align-items: center
        gap: (gap / 2)

    &__name, &__email, &__submit
        flex: 1
        min-width: 0

    &__name, &__email
        flex: 1 1 200px

    &__submit
        flex: 0 1 156px

    &__btn, .input-text
        height: 48px
        border-radius: var(--radius)

    &__btn
        color: var(--products-color)
        text-transform: uppercase
        font-weight: bold
        font-size: 12px