.ruler
    --color: #474747

    &
        color: var(--color)
        font-weight: regular
        font-size: 14px

    &__container
        display: flex
        justify-content: center
        align-items: center

    .ico
        margin-right: 7px
        width: 30px
        height: 30px
        color: var(--primary)