.toolbar
    .amount, .limiter, .pager, .view-mode, .sort-by label
        display: none

    .sort-by select
        padding: 0 40px 0 16px
        width: 180px
        height: 47px
        border: 1px solid #E0E0E0
        border-radius: var(--radius)
        background: url(down) no-repeat center right 16px
        box-shadow: none
        color: #9C9C9C
        font-weight: medium
        font-size: 14px
        appearance: none