.top-header
    position: relative
    z-index: 1000
    background: var(--secundary)

    @media media-max-lg
        display: none

    &__container
        container()

        display: flex
        justify-content: space-between
        align-items: center
